i.cc {
    font-size: 1.5rem;
    display: inline-block;
    margin: 0 1.3rem 0 0;
}

i.cc:hover {
    color: #0060BD;
    transform: rotate(-20deg);
    transform-origin: 0.49em 0.7em;
}

.green {
    color: green;
}

.red {
    color: red;
}

/* MODAL ANIMATIONS */
.modal.ng-enter {
    transition: opacity .5s ease-out;
    opacity: 0;
}

.modal.ng-enter.ng-enter-active {
    opacity: 1;
}

.modal.ng-leave {
    transition: opacity .5s ease-out;
    opacity: 1;
}

.modal.ng-leave.ng-leave-active {
    opacity: 0;
}

/* loader configurations */
#loaderDiv {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background-color: white;
  opacity: .6;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px; /* -1 * image height / 2 */
  display: block;
}

